body {
  background-color: #eee;
  color: #333; }

  #auth {
    display: block;
    width: 200px;
    margin: 30px auto;
    font-weight: bold; }
   
  li {
    list-style: none;
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px; }
    li .avatar {
      margin-top: 15px;
      margin-left: 15px;
      height: 50px;
      width: 50px;
      float: left; }
      li .avatar img {
        height: 50px;
        width: 50px;
        border-radius: 50%; }
    li .name {
      padding: 20px 80px;
      font-size: 15px;
      text-align: left;
      font-weight: bold; }
      li .name a {
        color: #2a5885;
        text-decoration: none; }